nav {
  height: 10vh;
  width: 100%;
  // background: $c-darkTeal;
  background: $c-darkTeal-T;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  .content {
    font-family: $f-lead;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;

  .container {
    display: flex;
    align-items: center;
    padding: 2rem;

    .logo {
      background: $c-medBlue;
      padding: .5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $c-white;

      .logoImg {
        height: 45px;
        width: auto;
      }
    } // end .logo
  } // end .container

  .navLinks {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 2rem;

    li {

      a {
        text-decoration: none;
        color: $c-white;
        width: 100%;
        padding: .5rem 1rem;
        font-family: inherit;
        font-size: 2rem;
      }
    }
  } // end .navLinks
}
} // end nav