// import external
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

// colors
$c-lightTeal: #01a79d;
$c-medTeal: #007880;
$c-darkTeal: #045662;
$c-darkTeal-T: rgba(4, 86, 98, .5);
$c-medBlue: #013660;
$c-darkBlue: #082243;
$c-medYellow: #d39e12;
$c-light: #f4f4f4;
$c-dark: #333333;
$c-white: #fdfdfd;
$c-black: #020202;

// fonts
$f-lead: 'Righteous', cursive;
$f-page: 'Lato', sans-serif;
