:root {
  font-size: 16px;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

a {
  background-color: transparent;
}

a :link {
  text-decoration: underline;
  cursor: auto;
}

a :visited {
  text-decoration: underline;
  cursor: auto;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

address, article, aside, blockquote, body, details, dd, div, dl, dt, fieldset, figcaption, figure, footer, header, hr, html, iframe[seamless], legend, main, menu, nav, ol, section, ul {
  display: block;
}

address, cite, dfn, em, i, var {
  font-style: italic;
}

b, strong {
  font-weight: bolder;
}

bdo {
  unicode-bidi: bidi-override;
}

blockquote {
  margin: 1em 2.5em;
}

body {
  margin: 0;
}

body :focus {
  outline: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button ::-moz-focus-inner, [type="button"] ::-moz-focus-inner, [type="reset"] ::-moz-focus-inner, [type="submit"] ::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button :-moz-focusring, [type="button"] :-moz-focusring, [type="reset"] :-moz-focusring, [type="submit"] :-moz-focusring {
  outline: 0.0625em dotted ButtonText;
}

caption {
  display: table-caption;
  text-align: center;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

colgroup {
  display: table-column;
}

dd {
  margin-left: 2.5em;
}

del, s, strike {
  text-decoration: line-through;
}

dl {
  margin: 1em 0;
}

embed :focus {
  outline: none;
}

fieldset {
  margin-left: 0.125em;
  margin-right: 0.125em;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 0.125em groove;
}

form {
  margin-top: 0em;
}

h1 {
  display: block;
  font-size: 32px;
  font-size: 2rem;
  margin: 0.66667em 0;
  font-weight: "bold";
}

h2 {
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0.83333em 0;
  font-weight: "bold";
}

h3 {
  display: block;
  font-size: 19px;
  font-size: 1.16667rem;
  margin: 1em 0;
  font-weight: "bold";
}

h4 {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  margin: 1.33333em 0;
  font-weight: "bold";
}

h5 {
  display: block;
  font-size: 13px;
  font-size: 0.83333rem;
  margin: 1.66667em 0;
  font-weight: "bold";
}

h6 {
  display: block;
  font-size: 11px;
  font-size: 0.66667rem;
  margin: 2.33333em 0;
  font-weight: "bold";
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html :focus {
  outline: none;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin: 0.5em auto;
  border-style: inset;
  border-width: 0.0625em;
}

img {
  border-style: none;
}

ins, u {
  text-decoration: underline;
}

label {
  cursor: default;
}

legend {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

li {
  display: list-item;
}

[hidden], link, param, script, style, template, title {
  display: none;
}

map, output, q {
  display: inline;
}

mark {
  background-color: yellow;
  color: black;
}

menu {
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 2.5em;
}

object :focus {
  outline: none;
}

ol {
  list-style-type: decimal;
  margin: 1em 0;
  padding-left: 2.5em;
}

p {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  margin: 1em 0;
  font-weight: "normal";
}

pre {
  white-space: pre;
}

progress {
  vertical-align: baseline;
}

q ::before {
  content: open-quote;
}

q ::after {
  content: close-quote;
}

rt {
  line-height: 1.15;
}

small {
  font-size: 80%;
}

summary {
  display: list-item;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  display: table;
  border-collapse: separate;
  border-spacing: 0.125em;
  border-color: gray;
}

tbody {
  display: table-row-group;
  vertical-align: inherit;
}

td {
  display: table-cell;
  vertical-align: inherit;
}

textarea {
  overflow: auto;
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

ul {
  list-style-type: disc;
  margin: 1em 0;
  padding-left: 2.5em;
}

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"] ::-webkit-inner-spin-button, [type="number"] ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -0.125em;
}

[type="search"] ::-webkit-search-decoration {
  -webkit-appearance: none;
}

audio, base, bdi, canvas, menuitem, meta, meter, noscript, option, picture, rp, ruby, source, span, time, track, video, wbr {
  -webkit-animation: none;
          animation: none;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-duration: 0;
          animation-duration: 0;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-name: none;
          animation-name: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  background: 0;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-position-x: 0;
  background-position-y: 0;
  background-repeat: repeat;
  background-size: auto auto;
  border: 0;
  border-style: none;
  border-width: medium;
  border-color: inherit;
  border-bottom: 0;
  border-bottom-color: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-collapse: separate;
  -o-border-image: none;
     border-image: none;
  border-left: 0;
  border-left-color: inherit;
  border-left-style: none;
  border-left-width: medium;
  border-radius: 0;
  border-right: 0;
  border-right-color: inherit;
  border-right-style: none;
  border-right-width: medium;
  border-spacing: 0;
  border-top: 0;
  border-top-color: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none;
  border-top-width: medium;
  bottom: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  caption-side: top;
  clear: none;
  clip: auto;
  color: inherit;
  -webkit-columns: auto;
          columns: auto;
  -webkit-column-count: auto;
          column-count: auto;
  -webkit-column-fill: balance;
          column-fill: balance;
  -webkit-column-gap: normal;
          column-gap: normal;
  -webkit-column-rule: medium none currentColor;
          column-rule: medium none currentColor;
  -webkit-column-rule-color: currentColor;
          column-rule-color: currentColor;
  -webkit-column-rule-style: none;
          column-rule-style: none;
  -webkit-column-rule-width: none;
          column-rule-width: none;
  -webkit-column-span: 1;
          column-span: 1;
  -webkit-column-width: auto;
          column-width: auto;
  content: normal;
  counter-increment: none;
  counter-reset: none;
  cursor: auto;
  direction: ltr;
  display: inline;
  empty-cells: show;
  float: none;
  font: normal;
  font-family: inherit;
  font-size: medium;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  left: auto;
  letter-spacing: normal;
  line-height: normal;
  list-style: none;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  max-height: none;
  max-width: none;
  min-height: 0;
  min-width: 0;
  opacity: 1;
  orphans: 0;
  outline: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
  padding: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  -webkit-perspective: none;
          perspective: none;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  position: static;
  quotes: '\201C' '\201D' '\2018' '\2019';
  right: auto;
  -moz-tab-size: 8;
    -o-tab-size: 8;
       tab-size: 8;
  table-layout: auto;
  text-align: inherit;
  text-align-last: auto;
  text-decoration: none;
  -webkit-text-decoration-color: inherit;
          text-decoration-color: inherit;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  top: auto;
  -webkit-transform: none;
          transform: none;
  -webkit-transform-style: flat;
          transform-style: flat;
  -webkit-transition: none;
  transition: none;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-property: none;
  transition-property: none;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  unicode-bidi: normal;
  vertical-align: baseline;
  visibility: visible;
  white-space: normal;
  widows: 0;
  word-spacing: normal;
  z-index: auto;
  all: initial;
  all: unset;
}
/*# sourceMappingURL=nPlus.css.map */